@import 'colors.scss';

body {
  background-color: $pink;
  color: white;
}

#quoteButton{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}
